<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />

    <script src="https://kit.fontawesome.com/3c490b511a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="wrap">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">WTOW</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'streamingplatforms' %}active{% endif %}" aria-current="page" href="{{ url_for('streamingplatforms') }}">Streaming Platforms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'movies' %}active{% endif %}" href="{{ url_for('movies') }}">All Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://{{ env_override('AUTH0_DOMAIN') }}/authorize?audience=wtow&response_type=token&client_id={{ env_override('AUTH0_CLIENT_ID') }}&redirect_uri={{ env_override('AUTH0_REDIRECT_URI') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a id="logout-btn" class="nav-link" href="https://{{ env_override('AUTH0_DOMAIN') }}/v2/logout?client_id={{ env_override('AUTH0_CLIENT_ID') }}&returnTo={{ env_override('AUTH0_REDIRECT_URI') }}">Logout</a>
                    </li>
                    </ul>
                    {% if (request.endpoint == 'streamingplatforms') or (request.endpoint == 'search_platform') %}
                    <form class="d-flex" role="search" method="post" action="/streamingplatforms/search">
                        <input class="form-control me-2" type="search" name="search_term" placeholder="Find OTT" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    {% endif %}
                    {% if (request.endpoint == 'movies') or (request.endpoint == 'show_streamingplatform') or (request.endpoint == 'search_movie') %}
                    <form class="d-flex" role="search" method="post" action="/movies/search">
                        <input class="form-control me-2" type="search" name="search_term" placeholder="Find movie" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </nav>

    
        <div id="content" class="container-lg container-fluid py-3 d-flex {% if (request.endpoint != 'show_streamingplatform') %}justify-content-center{% endif %}">
            <div style="position: absolute;top:2rem;">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
</body>
</html>